<a href="https://colab.research.google.com/github/23r91a7347-coder/PREM-KIRAN-/blob/main/EXP_1%2C2_DA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        import pandas as pd
import numpy as np
#sample data set
data={'age':[25,27,np.nan,100,30,27],
'salary':[5000,52000,51000,50500,52000,52000],
'city':['A','B','A','A','A', np.nan]
}
df=pd.DataFrame(data)
print('original data:')
print(df)
#1.handeling missing values
df['age']=df['age'].fillna(df['age'].mean())
print("\n after handeling missing value")
print(df)
#2.noise deduction(removing outlier)
Q1=df['age'].quantile(0.25)
Q3=df['age'].quantile(0.75)
IQR=Q3-Q1
lower_limit=Q1-1.5*IQR
upper_limit=Q3+1.5*IQR
df=df[(df['age']>=lower_limit)&
      (df['age']<=upper_limit)]
print("\n after noise deduction")
print(df)

df=df.drop_duplicates('age')
print("\n after removing duplicates")
print(df)
#3.Identifying & removing data redudency(duplicater)
df=df.drop_duplicates()
print("\n after removing data redudant(duplicate)records:")
print(df)

original data:
     age  salary city
0   25.0    5000    A
1   27.0   52000    B
2    NaN   51000    A
3  100.0   50500    A
4   30.0   52000    A
5   27.0   52000  NaN

 after handeling missing value
     age  salary city
0   25.0    5000    A
1   27.0   52000    B
2   41.8   51000    A
3  100.0   50500    A
4   30.0   52000    A
5   27.0   52000  NaN

 after noise deduction
    age  salary city
0  25.0    5000    A
1  27.0   52000    B
2  41.8   51000    A
4  30.0   52000    A
5  27.0   52000  NaN

 after removing duplicates
    age  salary city
0  25.0    5000    A
1  27.0   52000    B
2  41.8   51000    A
4  30.0   52000    A

 after removing data redudant(duplicate)records:
    age  salary city
0  25.0    5000    A
1  27.0   52000    B
2  41.8   51000    A
4  30.0   52000    A

In [ ]:
import pandas as pd
from sklearn.impute import SimpleImputer
data={'age':[25,30,None,22,None,28],
      'salary':[50000,None,60000,52000,50000,None]}
df=pd.DataFrame(data)
print("Original Data:")
print(df)

impute=SimpleImputer(strategy='mean')
df_imputed = pd.DataFrame(impute.fit_transform(df),columns=df.columns)
print("\n Data After mean imputation:")
print(df_imputed)

Original Data:
    age   salary
0  25.0  50000.0
1  30.0      NaN
2   NaN  60000.0
3  22.0  52000.0
4   NaN  50000.0
5  28.0      NaN

 Data After mean imputation:
     age   salary
0  25.00  50000.0
1  30.00  53000.0
2  26.25  60000.0
3  22.00  52000.0
4  26.25  50000.0
5  28.00  53000.0